<!-- I am a gamer. I am a gamerbot. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gamerbot Landing Page</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        GAMERBOT LANDING PAGE
      </h1>
    </header>

    <main>
      <p class="bold">You are seeing this page because you just set up GAMERBOT!</p>
    </main>
  </body>
</html>
